# $Id: fwlogwatch.config,v 1.1 2002/02/14 19:43:03 bwess Exp $
#
# Sample fwlogwatch config file
#
# Uncommented options are ON, commented are OFF.
# Look at 'fwlogwatch -h' for the current defaults. 


### Global options ###
# Use 'verbose' if you want extra information and log messages.
# Use it twice for even more info.
#
verbose
verbose

# Use 'resolve' if you want IP addresses looked up in the DNS (slow).
#
#resolve

# Specify the input file if you don't want to use the default.
#
input	= messages


### Evaluation options ###
# The following six options define which criteria will be considered
# when comparing connection attempts.
#
#src_ip_off
#dst_ip_off
protocol
src_port
dst_port
tcp_opts


### Log summary mode ###
# Use 'times' if you want to see the timestamp of the first and last logged
# packet of each entry.
#
times

# Use 'duration' if you want to see the time interval between the first and
# the last connection attempt of the current entry.
#
duration

# Use 'html' to turn on html output.
#
html

# Specify the output file
#
output	= summary.html

# Use 'recent' to ignore events older than a certain time (off by default).
# The default unit is seconds. 
# Flags: m = minutes, h = hours, d = days, w = weeks, M = months, y = years.
#
#recent	= 3d


### Interactive report mode ###
# Use 'interactive' to turn this mode on, a summary will be presented first.
# If you use this comment out realtime response mode below since it will
# override this one if active.
#
#interactive

# Use 'sender' to specify your email address for abuse reports.
#
#sender	= 

# Use 'recipient' to specify the email address of the CERT you want to
# send reports to and don't want to use the default.
#
#recipient	= 

# You can use 'cc' to send a carbon copy of the report (e.g. to you for
# your archives or another abuse or CERT contact).
#
cc	= root@localhost

# Use 'template' to specify the template file you want to use to surround
# the report if you don't want to use the default.
# The line '# insert template here' in the template will be
# replaced with the report.
#
#template	= fwlogwatch.template


### Realtime response mode ###
# Use 'realtime_response' to turn this mode on, it will override the other
# two.
#
#realtime_response

# Use 'alert_threshold' to define how many connections must happen (within
# the 'forget' time range) to activate an alert/response and don't want to
# use the default.
#
alert_threshold	= 10

# Use the log summary option 'recent' above to control how long an event
# should be relevant, after the specified time it is forgotten and if
# another connection attempt is started it is treated as new.

# An alert is logged to syslog by default, you can add one of the following
# responses:
# - block the host completely with a new firewall rule ('block')
# - display a winpopoup alert message on a windows machine ('smb_notify')
# - execute a custom action in a shell ('action')
#
#block
#smb_notify	= hostname
#action	= 

# Known hosts are those that will not be warned about or actions taken
# against, even if they match the alert/response criteria.
# Use 'known_host' for your trusted gateways, peers and DNS servers (this
# is an anti-spoof measure).
#
#known_host	= 
#known_host	= 
#known_host	= 


### Show log times mode ###
# Use this mode (together with 'input' if you don't want to use the
# default input file) to display the time of the first and last entry
# in the log file.
#
#show_log_times


### EOF ###
