Dear Madam or Sir,

we would like to bring to your attention that [your organization's
networks] have been subject to heavy scans from a/several host/s in
your domain:


# insert report here


Please take the appropriate steps to stop these scans.
In case you need more information we would be glad to provide you
with the appropriate log file excerpts as far as they are available.


Thank you.
Yours sincerely
[Your signature]
